{% extends 'products/base.html' %}
{% load static %}

{% block content %}
    <section id="header-products">
        <div class="container">
            <div class="justify-content-center row">
                <div class="col-md-12 text-center header-background background-profile">
                    <div class="background-product-desc">
                        <h1 class="text-center">A HOY!</h1>
                        <h2 class="section-heading">{{ user.first_name|capfirst }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>{{ user.email }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="{% url 'reset_password' %}">Changer de mot de passe.</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}