{% extends 'products/base.html' %}
{% load static %}

{% block content %}
    <section id="header-products">
        <div class="container">
            <div class="justify-content-center row">
                <div class="col-md-6 text-center">
                    <div class="background-product" style="background-image: url({{ prod.picture }})">
                        <div class="background-product-desc">
                            <h2 class="section-heading">{{ prod.name }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                {% if messages %}
                    {% for message in messages %}
                        <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    {% if nutriscore_img %}
                        <img src="{% static 'products/img/score/' %}{{ nutriscore_img }}">
                    {% else %}
                        <h2>La note nutritionelle n'est pas disponible</h2>
                    {% endif %}
                </div>
                <div class="col-md-6 text-center">
                    <img src="{{ prod.nutrition }}">
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <a href="https://fr.openfoodfacts.org/produit/{{ prod.id }}">Voir la fiche produit</a>
                </div>
                {% if user.is_authenticated and not is_favorite %}
                    <div class="col text-center">
                        <a type="button" class="btn btn-outline-primary" href="{% url 'save_product' prod.id %}"><i
                                class="fas fa-save"></i><span> Sauvegarder</span></a></div>
                {% elif user.is_authenticated and is_favorite %}
                    <div class="col text-center">
                        <a type="button" class="btn btn-outline-primary" href="{% url 'delete_product' prod.id %}"><i
                                class="fas fa-times"></i><span> Supprimer des favorits</span></a></div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}